# The language in this case has no bearing - we are going to be making use of "conda" for a
# python distribution for the scientific python stack.
language: c

group: deprecated-2017Q2 # https://github.com/travis-ci/travis-ci/issues/4704

os:
  - linux
  - osx

osx_image: xcode6.4

env:
    matrix:
        - PYTHON_VERSION=3.6
        - PYTHON_VERSION=2.7
        - PYTHON_VERSION=3.5

    global:
        - DESTINATION_CONDA_CHANNEL="bccp"
        - TARGET_ARCH="x64"
        - CONDA_INSTALL_LOCN="${HOME}/miniconda"

        # Defines BINSTAR_TOKEN for your binstar channel
        - secure: "0fIuL2KuDNRVWFERTa3Z6oVyFSc01CISoJWEui+oLCjkSceN68UsHbOQ/o5lv2SA6JFCOGwqkTlcf+51ewPG4kt7mqYUS+2snNeSxA+2/fYfI/pjgbePVsN6uhke0UHUOgljEvy9qUlfZ7Ai2q2/Z/ijPFn01dd7vw0fItZZJ1vnQtq7L1bYOkK5jh1T0ns3FW0MG8KnT1j+m89ZIT4fsdQw/l8vnu5mEev4bvUUqXQ2dRDHR+/ZLme1wj/HHXbiSR7+i+l3N1OJpc2fWZKiZrnM+Tyl3xwG17FvSZ6qHoay5wwyW/hy2foce4uBSbVHmQQVcgBzLSKxB0JvPNadnsi3Vs2ktgKT1eigxQEak1W6YO6qZa7272AvlVkhTIqMzQ6YA/Skr+1kv5xYMxKWKhzTRKOlirrBtku02+dKZ3mgNxlTzxjFBPbZrixqz3eNsOGhKvNFzGn1vdtwSe5uKODK1nB+CWWdCX4AwmfmE06grmGmgkuTRL0WqbDuM8f0L5ulyGIwB06KpUtpG/duwtxC/2puZGwkvXbjb0R8SrR1+6JB9d7D0dLcdxXgw/35OFn0CDB9NodQ23K8MxbzBbPaBXrvqMQ3IU7kWoguqjSK7yjDw6AQTX7691VFMUhgqjjOL36bhrF+f3FeJlII3zO3SJi1qmwK3uVFAsHPkZY="
# Matrix is fully specified (for now) by os versions

install:
    # Install and set up miniconda.
    - if [ $TRAVIS_OS_NAME == "linux" ]; then wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh; fi
    - if [ $TRAVIS_OS_NAME == "osx" ]; then wget http://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh; fi
    - bash miniconda.sh -b -p $CONDA_INSTALL_LOCN
    - export PATH=${CONDA_INSTALL_LOCN}/bin:$PATH
    - conda config --set always_yes true

    # pin conda verson to 4.3.22
    #- conda config --set auto_update_conda False
    #- echo "conda ==4.3.22" >> ${CONDA_INSTALL_LOCN}/conda-meta/pinned

    - conda install --quiet conda

    # set the ordering of additional channels
    - conda config --prepend channels defaults
    - conda config --append channels bccp
    - conda config --append channels astropy

    # Install a couple of dependencies we need for sure.
    - conda install --quiet --yes astropy anaconda-client jinja2 cython pycrypto
    - conda install ruamel_yaml

    # latest conda build
    - conda install conda-build # 'conda-build<3.1'

    # to get fallback openmpi/mpich2
    # trying to work around https://github.com/conda/conda-build/issues/2510
    - conda install mpi4py

    # To ease debugging, list installed packages
    - conda info -a
    - conda list
    - |
      # Only upload if this is NOT a pull request.
      if [ "$TRAVIS_PULL_REQUEST" = "false" ] && \
         [ $TRAVIS_REPO_SLUG = "bccp/conda-channel-bccp" ] && \
         [ "$TRAVIS_BRANCH" == "master" ]; then
          UPLOAD="--user $DESTINATION_CONDA_CHANNEL --token $BINSTAR_TOKEN";
          conda config --set anaconda_upload true
          echo "Uploading enabled";
      else
          echo "Uplading disabled";
          UPLOAD="";
      fi
script:
    - INSPECT="--skip-existing -c bccp"
    - python extrude_recipes.py requirements.yml

    # Packages are uploaded as they are built.
    - |
      VARIANT=variants/pc/python-${PYTHON_VERSION}.yaml

    - |
      if [ ${PYTHON_VERSION} == 3.6 ]; then
         bash build-all.sh platform pkglist-platform -m $VARIANT $INSPECT $UPLOAD
      else
         bash build-all.sh platform pkglist-platform -m $VARIANT $INSPECT  # no upload for other builds.
      fi
    - bash build-all.sh platform pkglist-platform-py -m $VARIANT $INSPECT $UPLOAD
    - bash build-all.sh recipes pkglist -m $VARIANT $INSPECT $UPLOAD
    - sleep 10 # https://github.com/travis-ci/travis-ci/issues/6018

